{{ define "admin.pages.form" }}
<form 
    class="form"
    id="admin-pages-form"
    action="/admin/pages" 
    method="POST"
    hx-post="/admin/pages"
    hx-target="#admin-pages-form"
    hx-swap="outerHTML">

    {{ with .Success }}
        {{ template "form.success" . }}
    {{ end }}

    {{ with .Error }}
        {{ template "form.error" . }}
    {{ end }}
    
    <div class="field">
        <label>Title</label>
        <input autofocus class="control" name="page.title" type="text" value="{{ .Value "page.title" }}"/>
        {{ with .Errors "page.title" }}
            {{ template "form.errors" . }}
        {{ end }}
    </div>
    <div class="field">
        <label>Content</label>
        <textarea class="control" name="page.content" cols="100" rows="10">{{ .Value "page.content" }}</textarea>
        {{ with .Errors "page.content" }}
            {{ template "form.errors" . }}
        {{ end }}
    </div>
    <div class="actions">
        <button class="btn">Create</button>
    </div>
</form>
{{ end }}