{{ define "admin.pages.list" }}
<div class="grid grid--2">
    <h1>Pages</h1>
    <div>
        <a 
        class="btn"
        hx-get="/admin/pages/create"
        hx-target="#content"
        hx-swap="innerHTML"
        hx-push-url="true"
        >Create New Page</a>
    </div>
</div>
<p>
    <table>
        <thead>
            <th>#</th>
            <th>Title</th>
        </thead>
        <tbody>
            {{ range .Ctx "pages" }}
            <tr>
                <td>{{ .Id }}</td>
                <td>{{ .Title }}</td>
            </tr>
            {{ end }}
        </tbody>
    </table>
</p>
{{ end }}