{{ define "admin.pages.list" }}
<div class="grid grid--2-keep">
    <h1>Pages</h1>
    <div>
        <a 
        class="btn btn--sm"
        hx-get="/admin/pages/create"
        hx-target="#content"
        hx-swap="innerHTML"
        hx-push-url="true"
        >Create New Page</a>
    </div>
</div>
<p>
    <table class="table">
        <thead>
            <th class="num">#</th>
            <th class="col-grow">Title</th>
            <th class="actions"></th>
        </thead>
        <tbody>
            {{ range .Ctx "pages" }}
            <tr>
                <td class="num">{{ .ID }}</td>
                <td class="col-grow">{{ .Title }}</td>
                <td class="actions">
                    <button class="btn btn--sm btn--secondary">Edit</button>
                    <button 
                        class="btn btn--sm btn--danger"
                        hx-delete="/admin/pages/{{ .ID }}"
                        hx-target="#content"
                        hx-swap="innerHTML"
                        hx-confirm="Delete this page?"
                    >Delete</button>
                </td>
            </tr>
            {{ end }}
        </tbody>
    </table>
</p>
{{ end }}